.sobre_mim{
    background-color: whitesmoke;

    h1 {
        font-size: 2em;
        color: #000;
        font-weight: 700;
        text-align: center left;
        margin: 20px 0;
        padding-top: 1.2em;
    }

    p {
        font-weight: 300;
        font-size: 1.6em;
        color: #000;
        text-align: center left;
        padding-bottom: 1.2em;
    }
}

@media (max-width: 26.5em){
    .sobre_mim{
    
        h1 {
            font-size: 2em;
            color: #000;
            font-weight: 700;
        }
    
        p {
            font-weight: 300;
            font-size: 1em;
            color: #000;
        }
    }
}

@media (max-width: 23.4em){
    .sobre_mim{
    
        h1 {
            font-size: 1.5em;
            color: #000;
            font-weight: 700;
        }
    
        p {
            font-weight: 300;
            font-size: 1em;
            color: #000;
        }
    }
}